h3{
	margin:20px !important;;
}
h6{
	margin-top: 20px !important;
}
li{
	list-style: none;
}
.navbar{
	margin-bottom: 20px;
}
.fa-hand-o-left {
    position: absolute;
    font-size: 2em !important;
    margin-left: 20%;
}